@page
@model SITConnect.Pages.Reset_PasswordModel
@{
}

<h1>Reset Password</h1>
<form method="post">
    <div> <label class="text-danger">@Model.Message</label> </div>
    <br />
    <input asp-for="user.Id" value="@Model.Myid" hidden />
    <label>Current Password:</label>
    <input type="password" asp-for="Currentpwd" required/>
    <label>New Password:</label>
    <input type="password" asp-for="user.Password"required />
    <br />
    <input type="submit" value="Submit" />
</form>
